[submodule "hugo-theme-cactus-plus"]
	path = hugo-theme-cactus-plus
	url = https://github.com/nodejh/hugo-theme-cactus-plus
[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/nodejh/hugo-theme-cactus-plus
[submodule "themes/hucore"]
	path = themes/hucore
	url = https://github.com/mgjohansen/hucore
